<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- fontawesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <!-- google font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;600;700;800&display=swap"
    rel="stylesheet">
  <!-- bootstrp -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <!-- my style -->
  <link rel="stylesheet" href="css/style.css">
  <!-- libreria js -->
  <script src="js/libreria.js"></script>
  <!-- libreria vue -->
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <title>Hello_Vue</title>

</head>

<body>


  <div id="app" class="wrapper">
    <!-- all chat -->
    <div class="all-chat">

      <!-- chat left -->
      <div class="chat-left">

        <!-- my profile -->
        <div class="my-profile">
          <div class="my-profile-img">
            <img src="img/avatar_8.jpg" alt="avatar_io">
            <span class="mx-2">Mattia</span>
          </div>
          <div class="my-profile-option">
            <button type="button"><i class="fa-solid fa-circle-notch"></i></button>
            <button type="button"><i class="fa-solid fa-message mx-3"></i></button>
            <button type="button"><i class="fa-solid fa-ellipsis-vertical"></i></button>
          </div>
        </div>

        <!-- notification -->
        <div class="notification">
          <div class="notification-no">
            <i class="fa-solid fa-bell-slash"></i>
          </div>
          <div class="notification-text">
            <span>Ricevi notifiche di nuovi messaggi</span>
            <a href="#">Attiva notifiche desktop</a>
          </div>
        </div>

        <!-- chat research -->
        <div class="chat-research">
          <div class=" chat-research-input">
            <button type="button"><i class="fa-solid fa-magnifying-glass mx-4"></i></button>
            <input v-model.trim="searchTerm" type="text" placeholder="Cerca o inizia una nuova chat">
          </div>
        </div>

        <!-- chat list -->
        <div class="chat-list">
          <!-- chats -->
          <div v-for="(item, index) in findContact" class="chats"
            :class="{active: contacts.indexOf(item) === activeChat }" @click="setChat(item.id)" :key="item.id">
            <div class="chats-img">
              <img :src="'img/avatar'+ item.avatar +'.jpg'" :alt="'avatar'+ item.avatar">
            </div>
            <div class="chats-info">
              <span class="chat-name">{{item.name}}</span>
              <span v-if="item.messages.length > 0" class="chats-info-data">{{getLastMessage(item).date}}</span>
              <span v-if="item.messages.length > 0">{{getLastMessage(item).message}}</span>
            </div>
          </div>

        </div>
      </div>

      <!-- chat right -->
      <div class="chat-right">

        <!-- chat header -->
        <div class="chat-header">
          <!-- img profile active chat -->
          <div class="chat-header-img">
            <img :src="'img/avatar'+ contacts[activeChat].avatar +'.jpg'" :alt="'avatar'+ contacts[activeChat].avatar">
            <!-- info chat active -->
            <div class="chat-header-info">
              <span class="chat-name">{{contacts[activeChat].name}}</span>
              <!-- state chat active -->
              <div  v-if="(contacts[activeChat].messages.length > 0)">
                <span v-if="!writing && !online">Ultimo accesso il {{contacts[activeChat].messages.length > 0 ? getLastMessage(contacts[activeChat]).date : ''}}
                  alle {{contacts[activeChat].messages.length > 0 ? getLastMessage(contacts[activeChat]).hours : ''}} </span>
              </div >
              <span v-if="writing">Sta scrivendo...</span>
              <span v-if="online">Online</span>
            </div>
          </div>

          <!-- chat header option -->
          <div class="chat-header-option">
            <button type="button"><i class="fa-solid fa-magnifying-glass"></i></button>
            <button type="button"><i class="fa-solid fa-paperclip mx-3"></i></button>
            <button @click="showChatOption" type="button"><i class="fa-solid fa-ellipsis-vertical"></i></button>

            <!-- chat header dropdown -->
            <div v-if="chatDropdown" class="chat-dropdown">
              <button @click="deleteAllMessage" class="my-1" type="button">Delete all messages</button>

              <button class="my-1" type="button">Delete chat</button>
            </div>
          </div>
        </div>

        <!-- chat main -->
        <div class="chat-main">

          <!-- message -->
          <div v-for="(item, index) in contacts[activeChat].messages" class="message" :class="item.status" :key="index"
            ref="msg">

            <!-- questo mi permette di usare l'html -->
            <p v-html="item.message"></p>
            <span>{{item.hours}}</span>
            <i @click="showMessageOption(index)" class="fa-solid fa-angle-down"></i>

            <!-- message dropdwon -->
            <div v-if="messageOption.index === index && messageOption.show" class="carret-down">
              <button type="button" class="my-1">Message Info</button>
              <button @click="deleteMessage(index)" type="button" class="my-1">Delete Message</button>
            </div>
          </div>


        </div>

        <!-- chat new message -->
        <div class="chat-new-message">
          <button type="button" class="mx-4"><i class="fa-regular fa-face-smile"></i></button>
          <input v-model.trim="newMessage" @keyup.enter="sendMessage" type="text">
          <button v-if="!newMessage" type="button" class="mx-4"><i class="fa-solid fa-microphone"></i></button>
          <button v-else @click="sendMessage" type="button" class="mx-4"><i
              class="fa-solid fa-paper-plane"></i></button>
        </div>
      </div>

    </div>

  </div>






  <!-- mio js -->
  <script src="js/script.js"></script>
</body>

</html>